.bg-success{ background-color:#77b55d; color:#fff; line-height:22px; font-style:italic; padding:0 7px;}
.bg-danger{background-color: #f16868;color:#fff; line-height:22px; font-style:italic; padding:0 7px;}
.error{ color:red;}

.bg-warning{background-color: #fbcd8a;;color:#fff; line-height:22px; font-style:italic; padding:0 7px;}
.morris-hover{position:absolute;z-index:1090;}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#f9f9f9;background:rgba(0, 0, 0, 0.8);border:solid 2px rgba(0, 0, 0, 0.9);font-weight: 600;font-size:14px;text-align:center;}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}



.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #fff;
  font-size: 27px;
  color: #333;
  padding: 10px;
  margin: 0px;
}
.gold { border:1px solid #f8b910;}
.gold .panel-heading{
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(247,152,0,1) 50%, rgba(251,223,147,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%,rgba(247,152,0,1) 50%,rgba(251,223,147,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(252,234,187,1) 0%,rgba(247,152,0,1) 50%,rgba(251,223,147,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */}
.bronze{ border:1px solid #bd965a;}
.bronze .panel-heading{
background: rgb(243,226,199); /* Old browsers */
background: -moz-linear-gradient(top, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 51%, rgba(233,212,179,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(243,226,199,1) 0%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */}
.sliver{ border: 1px solid #ccc;}
.sliver .panel-heading{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */}
.platinum{ border: 1px solid #ccc;}
.platinum .panel-heading{
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */}
.role-table td{ line-height:12px;}
.switch {position: relative;display: inline-block;width: 37px; height: 17px; margin:0px;}
.switch input {display:none;}
.slider { position: absolute; cursor: pointer; top: 0;left: 0;right: 0; bottom: 0;background-color: #ff0202;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute; content: "";height: 15px; width: 15px;left: 1px;bottom: 1px;background-color: white;-webkit-transition: .4s; transition: .4s;}
input:checked + .slider { background-color: #8fc800;}
input:focus + .slider { box-shadow: 0 0 1px #8fc800;}
input:checked + .slider:before { -webkit-transform: translateX(20px);-ms-transform: translateX(20px); transform: translateX(20px);}
/* Rounded sliders */
.slider.round { border-radius: 25px;}
.slider.round:before { border-radius: 50%;}

.user-box{ text-align:center; list-style-type:none; padding:0px; margin:0px;width:100%;}
.user-box li{ padding:10px 0px; display:block; text-align: center; font-size:16px;}
.user-box li a i{ font-size:22px }
.user-box .avtar{ width:100px; height:100px; border-radius:50%; border:2px solid #fff; box-shadow: 0px 2px 10px #333; overflow:hidden; margin:0 auto;}
.user-box .avtar img{object-fit: cover; min-height:100px; max-width:100%;}

.top-control{ display:flex;}
.top-control .link-box{ margin-left:5px;}
.top-control .link-box ul{ padding:0px; margin:0px; display:flex; list-style-type:none;border-radius:3px;border:1px solid #ccc}
.top-control .link-box ul li{ border-left:1px solid #ccc;}
.top-control .link-box ul li a{ padding:7px 15px; cursor:pointer; display:block;}
.top-control .link-box ul li:first-child{border-left:0px;}
.top-control .link-box ul li:last-child{}
.en-table .image img { width:60px; height:60px;}
.dataTables_paginate{ margin:0px;}
.dataTables_paginate .pagination{ margin:0px;}
.role-table{ margin-top:15px;}
.input-dropbox{ display:flex; padding:10px; border:1px solid #dedede; background:#f9f9f9; }
.input-dropbox > div {flex:1 1 auto;}
.input-dropbox .qan{ width:5%; text-align:center; line-height:34px; font-size:16px; color:#333;}
.input-dropbox .input-box{ width:60%;}
.input-dropbox .dropbox{ position:relative; width:30%;}
.input-dropbox .dropbox >a{display: block; cursor:pointer; width: 100%; height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143; color: #555; background-color: #fff;background-image: none;border: 1px solid #ccc;  display: flex;  justify-content: space-between;}
.input-dropbox .dropbox .dropdown-box{ position:absolute; top:100%; right:0px;display:none;     transition: all 0.8s ease; overflow:hidden; width:100%; z-index:100;}
.input-dropbox .dropbox > a:hover { color:#006;}
.input-dropbox .dropbox:hover .dropdown-box{ display:block;}
.input-dropbox .dropbox .dropdown-box ul{ padding:10px; margin:0px; display: flex; flex-wrap: wrap;justify-content: space-between; background:#fff; list-style-type:none; height:100%;}
.input-dropbox .dropbox .dropdown-box ul li{ flex:0 0 48%; margin:0 2px;border-bottom: 1px solid #e4e4e4;}
.input-dropbox .dropbox .dropdown-box ul li a{ text-align:left;    text-align: left;display: block;padding: 10px 0; color: #000;}
.input-dropbox .help{ width:5%; text-align:center; line-height:34px; font-size:16px; color:#333;}
.input-dropbox .dropbox .dropdown-box ul li i{ margin-right:5px;}
.add-remove a i.fa-plus-circle { color: green;}
.add-remove i.fa-minus-circle { color: red;}
.answer-q{ width:100%; border:1px solid #dedede; background:#f9f9f9; margin-top:10px;}
.answer-q .answer-hd{ padding:15px; border-bottom: 1px solid #e4e4e4; width:100%; display:flex;    justify-content: space-between; }
.select-all { line-height:34px;}
.select-all label{ margin:0px 5px 0 0;}
.right-box{ display:flex;   align-items: center;}
.right-box div{margin-left:5px;}
.right-box label{ margin:0px; }
.scale label span{ margin-right:5px;}
.scale label{ margin:0px;display:flex; align-items: center;}
.answer-q .anwer-body{ padding:15px; width:100%;}
.answer-q .anwer-body .form-row{ display:flex;}
.answer-q .anwer-body .form-row > div{ }
.answer-q .anwer-body .form-row .form-radio{ line-height:13px;}
.answer-q .anwer-body .form-row .input-box{ flex:1 1 auto; padding:0 7px;}

.answer-q .anwer-body .form-row .add-remove{ width:30px; text-align:center; font-size:24px; margin:0 5px; line-height:34px;}
.answer-q .answer-foot{padding:15px; border-top: 1px solid #e4e4e4; width:100%; display:flex;    justify-content: space-between; }
.answer-q .bulk-row{padding:0 15px 15px; width:100%; display:flex;    justify-content: space-between;}
.answer-q .bulk-row .bulkans{}
.anwer-body.add-label > .form-row >.input-box{ width:85%;}
.anwer-body.add-label > .form-row > .form-radio{width:8%;}
.anwer-body.add-label > .form-row > .form-radio label{ margin:0px; line-height:34px;}
.answer-q .only-n{padding:15px; width:100%; display:flex;    justify-content: space-between; border-top: 1px solid #e4e4e4;}
.form-checkbox{padding-top: 5px;}
.rating-box{  width:100%; border:1px solid #dedede; background:#f9f9f9; margin-top:10px;}
.rating-box .rate-select{padding:15px; border-bottom: 1px solid #e4e4e4; width:100%; display:flex;    }
.rating-box .rate-select > div{ flex:0 0 auto; }
.rating-box .scale,.rating-box .shape{ margin-right:15px; width:20%;}
.rating-box .scale label, .rating-box.shape label, .rating-box.color-pick label{ display:block; margin:0px;}
.color-pick  .color-box{ width:34px; height:34px;  background:#F00; border:1px solid #333; display:inline-block;}
.color-pick i{ line-height:34px;}
.rating-box .rating-foot{padding:15px; border-top: 1px solid #e4e4e4; width:100%; display:flex;    justify-content: space-between; }
.rating-label{padding:15px; border-bottom: 1px solid #e4e4e4; width:100%; display:flex;  justify-content: space-between;  }
.rating-box .rate-boxrow{padding:15px;  width:100%; display:flex;  justify-content: space-between;  }
.rating-box .rate-boxbody{padding:0 15px 15px;  width:100%;}
.page-answer.highlight{ border:1px dashed #ccc;} 
.page-answer{ width:100%; margin-bottom:15px; padding:20px;}
.page-answer .qustion-title { margin-bottom:15px;}
.page-answer .qustion-title > label{ color:#00a6fb; font-weight:600; font-size:18px; line-height:23px; position:relative; padding-left:55px;}
.page-answer .qustion-title > label span{ color: #333; position:absolute; left:0px;}
.page-answer .qustion-title .tab-option ul{ list-style-type:none; padding:0px; margin:0px; display:flex;}
.page-answer .qustion-title .tab-option ul li { padding:0 3px;}
.page-answer .qustion-title .tab-option ul li a{ padding:7px 15px; background:#2b2b2b; text-transform: uppercase; color: #fff; font-weight:500; font-size:14px;  border-radius:5px;}
.page-answer ul.option{ list-style-type:none; margin:0px; padding:10px 0 0px 20px;}
.page-answer ul.option li{ display:block; padding:7px 0;}
.page-answer ul.option li label{ line-height:20px; font-weight:300;}
.reting-row{ width:100%;}
.reting-row ul{ list-style-type:none; display:flex; padding:10px 0 0px 20px;}
.reting-row ul li{flex:0 0 20%; text-align:center; font-size:30px;}
.rating-star { display: inline-block; font-size: 32px;color: #555555; cursor: pointer; padding: 5px 10px; }
.rating-stars ul .rating-star.is--active,.rating-stars ul .rating-star.is--hover { color: #f1c40f;}
.rating-stars ul .rating-star.is--no-hover { color: #555555; }
.add-more{ text-align:center; padding:30px;}
.add-more .btn{  text-transform:uppercase; font-size:16px; color: #fff; background:#00a6fb; padding:7px 20px}
/*---------radio -------*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 18px;
    height: 18px;
    border: 1px solid #808080;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #00a6fb;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*---------End radio -------*/

/*Checkboxes styles*/
input[type="checkbox"] {     display: block;
    transform: scale(2);
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: pointer; }
input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #6b6969;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
